*{
    margin: 0;
}

main {

    display: flex;
    justify-content: flex-end;
    font-family: sans-serif ;
    max-height: 100vh;
    overflow-y: hidden;
}

section{
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex: 1 0 85%;
    flex-grow: 1;
}
section > div {
    flex: 1 1 auto;
    position: relative;
    justify-content: flex-end;
}

article {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: var(--bg-color, blue);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5em;
    animation: calc(4s * var(--height)) infinite;
    animation-name: bounce;
    animation-delay: var(--timer);
    animation-direction: alternate;
    position: absolute;
    color: white;
}

article:target {
    background-color: yellow;
    color: black;
}

h2 {
    font-size: small;
    color: inherit;
}

img {
    width: 1em;
    height: auto;
}

article.pause {
    animation-play-state: paused;
}

@keyframes bounce {
    0% {
       transform: translate(0);
    }
    50% {
        transform: translateY(calc(70vh + (var(--height) * 10vh)));
    }
    100% {
        transform: translateY(calc(-1 * (70vh + (var(--height) * 10vh))));   
}   
}

nav {
    background-color: rgb(0, 0, 0, 0.7)  ;
    z-index: 5;
    flex: 0 1 30%;
    display: flex;
    flex-direction: column; 
    overflow-y: scroll;  
}    

button, .filter {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 5em;
    margin: .5em;
    padding: .5em;
    border: none;  
    cursor: pointer;
    font-size: medium;
}    

.filter {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

li a{
    display: flex;
    padding: .5em;
}

li img {
    padding-right: 1em;
    width: 2em;
    height: auto;
}

li h2 {
    font-size: larger;
}